@font-face{
    font-family: 'font0';
    src:local('SegoeWP-Light.ttf');
}
tt{
    font-family: 'font0';
    font-size: 400%;
}
tle{
    font-size:400%;
    font-family: 'font0';
 color: white;
}

body{
    background-color:lightgreen;
}
main{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200%;
    color: gray;
  
}
menu{

    font-size: 200%;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main2{
    font-size: large;
    color: black;
}