tt{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}
tiunity{
    font-family: monospace;
    font-size: large;
    text-align: initial;
}
aud{
    font-family: serif;
    font-size: x-large;
}