p#index{
    color: #00ff00;
    font-size: larger;
    text-align: center;
    font-family: cursive
  }
  
  .table1{
    border:solid 2px ;
    border-color: black;
  
  }

p#table{
  color: aliceblue;
}